* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.75rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: #000 !important;
}
/*==============scroll bar================*/

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  cursor: default;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(78, 78, 78, 0.15);
  box-shadow: inset 1px 1px 2px 0 rgba(78, 78, 78, 0.3);
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #fff;
}

.box-title {
  font-size: 20px;
  margin-bottom: 8px;
  font-family: AvenirNext-Bold, sans-serif;
  font-weight: bold;
  color: #4a4a4a;
}
.box-text {
  color: #4a4a4a;
  font-size: 16px;
}
.title-sub {
  font-size: 34px;
  line-height: 40px;
  text-align: center;
  padding-right: 40px;
  color: #111c63;
  font-weight: 400;
  margin-bottom: 2rem;
}
.price {
  font-size: 38px;
  color: #567fea;
  font-family: AvenirNext-Bold, sans-serif;
  font-weight: 400;
  margin: 0 0 -5px;
}
.text {
  color: #4a4a4a;
  font-size: 18px;
  line-height: 24px;
}
.title-box {
  color: #111c63;
  font-size: 48px;
  line-height: 53px;
  white-space: pre-wrap;
  font-family: AvenirNext-Bold, sans-serif;
  font-weight: 400;
}

#booking {
  background-image: url("../../../assets//bgFooter.svg");
  height: 487px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#doctor-box {
  background-color: #f5f6fa;
}
footer {
  background: #1f3441;
  color: #f5f6fa;
}
