* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo', sans-serif;
    background-color: #f5f6fa;
    
}

button {
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in;
}

/*==============navbar================*/
#headerNavbar {
    display: flex;
    justify-content: space-around;
    position: fixed;
    height: 60px;
    background-color: #fff;
    z-index: 9999;
    width: 100%;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .1);
}

/*styles menu----------->*/
#menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 60px;
}

#menu li {
    list-style-type: none;
    margin: 0px 5px;
}

#menu li a {
    padding: 10px 20px;
    text-decoration: none;
    background-color: #fff;
    border-radius: 30px;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: 0s;
}

#menu li a:hover {
    padding: 10px 20px;
    text-decoration: none;
    background-color: #f5f6fa;
    border-radius: 30px;
    font-weight: 600;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: 0s;
}

#menu li a:focus {
    padding: 10px 20px;
    text-decoration: none;
    background-color: #f5f6fa;
    border-radius: 30px;
    font-weight: 600;
}

#cart_mess {
    display: none;
    position: relative;
    font-size: 10px;
    color: red;
    right: 12px;
    bottom: 9px;
}

/* product detail */

.product {
    padding: 30px 30px 20px 30px;
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    background-color: #fff;
    margin: 0px 100px 10px 100px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .1);
}
.note-box{
    padding: 30px 30px 20px 30px;
    margin: 0px 100px 10px 100px;
    background-color: #fff;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .1);
}
.product-img {
    width: 45%;
    padding: 2px;
    border:1px solid #ddd;
    border-radius: 5px;
}

.product-content {
    width: 45%;
}

.product-img img {
    width: 100%;
    border-radius: 5px;
}

.product-content {
    display: block;
}
.box-star{
    display: flex;
}
.box-star i{
    color: #ffbd3d;
    margin: 5px;
}
.product-perform {
    padding: 10px;
}
.text-description{
    color: #888;
    padding: 0px 0px 15px;
}
.product-perform .title {
    
}

.product-perform .text-price {
    padding: 20px 0;
    color: #d63031;
    font-size: 25px;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 10px;
    
    font-weight: 600;
}

.btn-add {
    color: #fff;
    background-color: #4CE1C6;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: 0s;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}
.product-action{
    margin: 30px 0px;
}
.btn-add:hover {
    background-color: #30b5a1;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: 0s;
    box-shadow: 0 0 0 0.2rem rgba(76, 225, 198, 0.25);
}

.btn-back {
    color: #111c63;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
    background-color: #fff;
    border: 1px solid #4CE1C6;
}

.btn-back:hover {
    box-shadow: 0 0 0 0.2rem rgba(76, 225, 198, 0.25);
    background-color: #fff;
}

/* Modal */

.modal {
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 50px;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    width: 75%;
    animation-name: animatetop;
    animation-duration: 0.5s
}

.close-btn {
    float: right;
    color: lightgray;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover {
    color: darkgray;
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0px;
        opacity: 1
    }
}

.modal-body {
    max-height: 400px;
    overflow-y: scroll;
    padding: 10px 20px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dfdcdc;
    padding: 10px 0px;
}

.modal-header {
    border-bottom: 1px solid #dfdcdc;
    padding: 20px 30px;
}

.item-img {
    width: 100px;
    height: 70px;
    border-radius: 5px;
}

.item-name {
    font-size: 16px;
}

.item-price,
.item-total {
    color: red;
}

.btn-group .btn-item {
    color: #000;
    padding: 5px 10px;
    border: none;
}

.btn-action {
    color: #fff;
    padding: 5px 10px;
    border: none;
    background-color: #dd0c0d;
    border-radius: 3px;
}

.btn-action:hover {
    background-color: red;
}

.modal-footer {
    border-top: 1px solid #dfdcdc;
    padding: 20px 30px;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.total {
    margin-right: auto;
}

#total_bill {
    margin-left: 10px;
    color: red;
}

.btn-footer {
    float: right;
    margin-left: 5px;
    color: #fff;
    padding: 10px;
    border: none;
    background-color: #dd0c0d;
    border-radius: 3px;
}

.btn-footer:hover {
    background-color: red;
}

.btn-primary {
    background-color: #007876 !important;
}

.btn-primary:hover {
    background-color: #0b9c9a !important;
}
/*styles rate----------->*/
.evaluate {
    padding: 30px 30px 20px 30px;
    display: flex;
    background-color: #fff;
    margin: 0px 100px 50px 100px;
    box-shadow: 0 3px 15px rgba(0, 0, 0, .1);
}
#title-rate{
    font-size: 25px;
    font-weight: bold;
    color: #111c63;
    margin-bottom: 20px;
}
#box-rate{
    display: flex;
    align-items: center;
}
.true{  
    color: #ffbd3d !important;
}
.false{
    color: #ddd !important;
}
.rate-right{
    width: 300px;
    height: 10px;
    background-color: #ddd;
    margin: 0px 20px;
    border-radius: 30px;
}
.rate{
    background-color: #4CE1C6;
    height: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
/*styles footer----------->*/
footer {
    background: #1f3441;
    color: #f5f6fa;
    font-family: "Exo", sans-serif;
    font-weight: 600;
}

footer li {
    list-style-type: none;
    line-height: 35px;
}

footer li a:hover {
    text-decoration: none;
    color: rgb(163, 33, 33);
    width: 100%;
}

footer li a {
    color: #f5f6fa;
    transition: 0.5s;
}

#contact-social li {
    font-size: 40px;
    padding: 10px;
}

#contact-social li {
    display: inline-table;
}


.row {
    display: flex;
    padding: 40px;
    justify-content: space-around;
}

#sub-menu-footer {
    list-style-type: none;
}

#sub-menu-footer li a {
    text-decoration: none;
    padding: 0px;
}

#sub-menu-footer li {
    margin: 0px !important;
}

/*==============scroll bar================*/

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    cursor: default;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgba(78, 78, 78, 0.15);
    box-shadow: inset 1px 1px 2px 0 rgba(78, 78, 78, 0.3);
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: #fff;
}