* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font: 400 15px sans-serif;
  line-height: 1.8;
  color: #000;
  font-family: "Exo", sans-serif;
  box-sizing: border-box;
  transition: all 0.4s ease;
}

a {
  text-decoration: none;
}

a:hover {
  color: #000 !important;
}

/* Navbar */

#headerNavbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  background-color: #fff;
  z-index: 9999;
  width: 100%;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);
}

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin: 0px;
}

#menu li {
  list-style-type: none;
  margin: 0px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  cursor: pointer;
}

#menu li a {
  padding: 10px 20px;
  text-decoration: none;
  background-color: #fff;
  color: #111c63;
  border-radius: 30px;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-delay: 0s;
}

#menu li a:hover {
  padding: 5px 20px;
  text-decoration: none;
  background-color: #f5f6fa;
  border-radius: 30px;
  font-weight: 600;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-delay: 0s;
}

#menu li a:focus {
  padding: 10px 20px;
  text-decoration: none;
  background-color: #f5f6fa;
  border-radius: 30px;
  font-weight: 600;
}

/* content */

.container {
  padding-top: 70px;
  min-height: 100vh;
}

.card-service-background {
  background-image: url(https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2020-06-19-16-06-13/endocrinology-background.ae9bc7808df630288e7c.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: transparent;
  background-size: 100% 110%;
  z-index: 0;
}

.care-service-banner {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-self: center;
}

.top-care-service-content {
  flex-grow: 1;
  padding: 50px 100px;
}

.go-back a {
  color: #959595;
  font-size: 18px;
}

.inner .title {
  color: #111c63;
  font-size: 1.5rem;
}

.go-back a i {
  margin-right: 10px;
}

.sub-text {
  padding: 5px 20px;
  font-size: 18px;
  color: #251b1b;
}

.care-service-price {
  display: flex;
  align-items: center;
}

.col-left {
  padding-right: 20px;
  border-right: 3px solid #111c63;
}

.col-right {
  margin-left: 20px;
}

.col-left .price-original {
  font-size: 18px;
}

.col-left .price {
  font-size: 40px;
  color: #111c63;
  font-weight: 600;
}

.col-right .btn-teal {
  border: none;
  background-color: #4ce1c6;
  line-height: 35px;
  color: #fff;
  outline: none;
  padding: 5px 50px;
  border-radius: 30px;
  transition: all 0.3s ease-in;
}

.btn-teal:hover {
  box-shadow: 0 0 0 0.2rem rgba(76, 225, 198, 0.25);
  background-color: #30b5a1;
}

.banner-image {
  flex-grow: 1;
}

.banner-image img {
  width: 700px;
  height: 450px;
}

.common-conditions {
  display: flex;
}

.title-container {
  width: 74%;
  padding: 80px 40px;
  color: #ffffff;
  font-size: 30px;
}

img.top {
  width: 30px;
  position: relative;
  left: 75%;
}

img.bottom {
  width: 60px;
  position: relative;
  left: 19%;
  top: -2rem;
  transform: rotate(18deg);
}

.info-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 30px;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
}

.condition-name-button {
  height: 60px;
  margin: 20px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 15px 30px 15px 20px;
  display: flex;
  align-items: center;
}

.condition-name-button img {
  margin-right: 1rem;
}

.meet-doctor {
  background-image: url(https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2020-06-19-16-06-13/assets/images/meet-doctors-background-top.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-color: transparent;
  background-size: 100% 110%;
  z-index: 0;
  padding: 20px 100px;
}

.meet-doctor-title,
.explain-title,
.service-footer-container-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #111c63;
  margin-bottom: 30px;
}

/*==============card doctor ==============*/
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col {
  background-color: #fff;
  width: 250px;
  border: 1px solid #bfbaba99;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.3s ease;
  flex-grow: 0.35;
}

.col:hover {
  box-shadow: 0 7px 50px -10px rgba(150, 170, 180, 1);
}

.card-doctor .img-card {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.card-header {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-doctor .card-body {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-doctor .card-description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}

.card-doctor .card-body .card-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.3rem;
  margin: 0;
  font-weight: 600;
}

.card-doctor .card-body .card-price {
  padding-top: 15px;
  color: red;
}

.card-price i {
  font-size: 1.3rem;
  margin-left: 10px;
}

.card-doctor .card-footer {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem !important;
  border-top: 1px solid #bfbaba99;
}

.btn {
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
  color: #111c63;
  flex-grow: 1;
  margin: 0 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-add {
  background-color: #4ce1c6;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-delay: 0s;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
}

.btn-add:hover {
  background-color: #30b5a1;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
  transition-delay: 0s;
  box-shadow: 0 0 0 0.2rem rgba(76, 225, 198, 0.25);
}

.btn-detail {
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
  background-color: #fff;
  border: 1px solid #4ce1c6;
}

.btn-detail:hover {
  box-shadow: 0 0 0 0.2rem rgba(76, 225, 198, 0.25);
  background-color: #fff;
}

.col:hover .card-hover {
  opacity: 1;
}

.card-hover {
  display: flex;
  opacity: 0;
  padding: 10px;
}
.ttl {
  background: url(https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2020-06-04-09-05-35/background-exam-small.6a3c1941f0aed684fc65.svg)
    center bottom no-repeat #fff;
  background-size: contain;
}
.card-explain {
  padding: 20px 60px;
}

.explain-header {
  font-size: 1.5rem;
  font-weight: 600;
  height: 100px;
}

.explain-body {
  padding: 10px 0px 150px 0px;
  font-size: 1.2rem;
}

.care-service-footer-container {
  background-image: url(https://cdn.jiohealth.com/jio-website/home-page/jio-website-v2020-06-19-16-06-13/wave.639a0e09813302ed424e.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  z-index: 0;
  margin-top: 20px;
  padding-top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.service-footer-container-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.service-footer-container-content .btn {
  margin-left: 30px;
  height: 60px;
  padding: 10px 100px;
  border-radius: 40px;
  font-size: 1.5rem;
}

/*styles footer----------->*/
footer {
  justify-content: space-between;
  background: #1f3441;
  color: #f5f6fa;
  font-family: "Exo", sans-serif;
  font-weight: 600;
}

.box-footer {
  padding: 20px;
  width: 55%;
  text-align: center;
}

footer li {
  list-style-type: none;
  line-height: 35px;
}

footer li a:hover {
  text-decoration: none;
  color: rgb(163, 33, 33);
  width: 100%;
}

footer li a {
  color: #f5f6fa;
  transition: 0.5s;
}

#contact-social li {
  font-size: 40px;
  padding: 10px;
}

#contact-social li {
  display: inline-table;
}

.row {
  display: flex;
}

#sub-menu-footer {
  list-style-type: none;
}

#sub-menu-footer li a {
  text-decoration: none;
  padding: 0px;
}

#sub-menu-footer li {
  margin: 0px !important;
}

/*==============scroll bar================*/

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  cursor: default;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: rgba(78, 78, 78, 0.15);
  box-shadow: inset 1px 1px 2px 0 rgba(78, 78, 78, 0.3);
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #fff;
}
