.container {
    margin: 50px 0px;
}


.modal-body {
    background-image: url(https://scontent.xx.fbcdn.net/v/t1.15752-9/84602192_992292694488192_8381452743398653952_n.jpg?_nc_cat=109&_nc_sid=b96e70&_nc_ohc=ljhwUvBmylgAX83t9Wn&_nc_ad=z-m&_nc_cid=0&_nc_zor=9&_nc_ht=scontent.xx&oh=0e63112dd9f6ba50b84c5b8f599249d4&oe=5EF12F0F);
}




.navbar {
    margin-bottom: 0;
    background-color: #09bb7b;
    z-index: 9999;
    border: 0;
    font-size: 15px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 3px;
    border-radius: 0;
}

.navbar li a,
.navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
}

.navbar-nav .nav-item {
    height: 51.5px;
}
.navbar-nav .nav-item #cart_mess {
    font-size: 10px;
    color: #f4511e;
    position: relative;
    bottom: 10px;
    right: 5px;
}
.navbar-nav .nav-item .nav-link {
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.navbar .navbar-toggler {
    outline: none;
}
.form-inline {
    margin-left: 20px;
}

@media screen and (max-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: .6rem;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    cursor: default;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: rgba(78, 78, 78, 0.15);
    box-shadow: inset 1px 1px 2px 0 rgba(78, 78, 78, 0.3);
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: #fff;
}